.newsfeed {
    font-family: "Poppins", sans-serif;
    

    &__card {
        color: #222222;
        position: relative;
    }

    &__image {
        position: relative;
        
        img {
            width: 100%;
        }
    }

    &__text {

        
    }

    &__heading {
        font-weight: 600;
        font-size: 2.3rem;
        @include respond(tab-port) {
            margin-top: 2rem;
          }
      
    }

    &__cite {
        font-weight: 300;
        font-size: 1.4rem;        
    }

    &__date {
        font-weight: 600;
        color: $color-primary;
    }

    &__info {
        font-size: 1.6rem;
    }

    &__btn {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }



    &__tags {
        position: absolute;
        top: 2rem;
        left: 3rem;
        color: aliceblue;
    }
    
}