$color-primary: #fd0101;
$color-secondary: #ffc107;
$color-tetiary: #06359b;

$color-black: #000000;
$color-white: #ffffff;

$color-purple-dark: #302939;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #EEE;


$color-grey-dark: #777777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #1d1d1d;

$default-font-size: 1.6rem;