.section-about-ceo {
  font-family: "Poppins", sans-serif;
  padding: 5rem 0;
  background-color: #f8f8f8;

  .about-ceo-text {
    @include respond(phone) {
      margin-top: 5rem;
    }
  }

  img {
    width: 100%;
  }
  p {
    font-size: 1.8rem;
  }
}

.section-about-company {
  font-family: "Poppins", sans-serif;
  padding-bottom: 5rem;
  p {
    font-size: 1.8rem;
  }

}
