.section-image-gallery {
    padding: 5rem;

    .gallery {
        &__image-card {
            display: inline;
            width: 35rem;
            position: relative;
            border: 0;
            cursor: pointer;

            img {
                width: inherit;
                position: relative;
            }

        }

        &__image-overlay {
            position: absolute;
            top: 2;
            left: 0;
            height: inherit;
            width: inherit;
            background: linear-gradient(to right, $color-primary, darken($color-primary, 10rem));
            display: block;
        }

    }

    
}


.section-video-gallery {
    background-color: $color-grey-light-2;
    padding: 5rem 0;
    .gallery {

        &__video-card {
            display: inline;
            width: 35rem;
            position: relative;
            border: 0;
            cursor: pointer;

            iframe {
                border-collapse: collapse;
                border: 0;
                width: inherit;
                height: 315;
                position: relative;
            }

        }

        &__video-overlay {
            position: absolute;
            top: 2;
            left: 0;
            height: inherit;
            width: inherit;
            background: linear-gradient(to right, $color-primary, darken($color-primary, 10rem));
            display: block;
        }
    }
}